{{#if auth}}
  <h2>Se va a restablecer la contraseña de su cuenta</h2>
  <form action="/api/auth/recovery/newPassword" method="post">
    <label for="password">Ingrese su nueva contraseña</label>
    <input type="password" id="password" name="password" />
    <label for="repeat_password">Repita la contraseña</label>
    <input type="password" id="repeat_password" name="repeat_password" />
    <input type="submit" id="submitBtn" value="Establecer" />
  </form>
  {{#if message}}
    <small>{{message}}</small>
  {{/if}}
{{else}}
  <h2>El link ha expirado</h2>
  <p>Solicite nuevamente el enlace de verificación haciendo clic
    <a href="/views/recovery_password">aquí</a></p>
{{/if}}
{{! <script>
  const password = document.getElementById('password'); const repeat_password =
  document.getElementById('repeat_password'); const submit =
  document.getElementById('submitBtn');
  repeat_password.addEventListener('change', ()=>{ if(password &&
  repeat_password && password===repeat_password){ submit.disabled = false; } })
</script> }}