<h4>Token generado con exito.</h4>
<p>Copiar para probar la ruta "/api/sessions/current", pasando el token en el
  header (bearer token)</p>
<p>Token: <br /> {{token}}</p>
<br />
<a href="/views/products">Ir al Login</a>